* {
    box-sizing: border-box;
    text-align: center;
}


.container {
    background: lightslategrey;
}

.labeled-image1,
.labeled-image2,
.labeled-image3,
.labeled-image4,
.labeled-image5 {
    position: relative;
    width: 200px;
}

.text-block {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #4aaaa5;
    color: white;
    z-index: 2;
}