
* {
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    width: 960px;
    text-align: center;
}

.overalldiv {
    width: 960px;
}

.container {
    /*background-image: url("/assets/images/gravel.png");*/
    /*background: lightgray;*/
    background-size: cover;
    padding: 30px;
}

.topbar {
    width: 100%;
    background: white;
    margin: 20px;
    border-bottom: 2px solid #dddddd;

}

a:link,
a:active,
a:visited {
    text-decoration: none;
    color: #777777;
}

a:hover {
    text-decoration: underline;
    color: #444444;
}


#namespace {
    background: #4aaaa5;
    color: white;
    font-size: 1.5em;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 20px 20px 0 0;
    padding: 20px;
    text-align: left;
    width: 20%;
    float: left;
}

#navspace {
    overflow: hidden;
    float: right;
    margin: 20px 20px 0 0;
    padding: 20px;
}


.nav li {
    display: inline-block;
    border-right: 1px solid #777777;
    padding: 0 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav li:last-child  { border: 0; }


h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: left;
    font-size: 1.5em;
}

.contentbox {

    margin: 0 auto;
    text-align: left;
    background: white;
    padding: 30px;
    line-height: 1.5;
}

.slothbaby {
    float: left;
    padding: 10px;
    height: 200px;
    width: 300px;
}

footer {
    width: 100%;
    background: #666666;
    padding-top: 30px;
    color: #444444;
    position: fixed;
    bottom: 0;
    border-top: 7px solid #4aaaa5;
}

ul {
    list-style-type: none;
}

.portfoliopic {
    height: 200px;
    width: 200px;
    position: relative;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
}

input[type=submit] {
    background: #4aaaa5;
    color: #ccc;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}


.labeled-image {
    position: relative;
}

.text-block {
    position: absolute;
    background: #4aaaa5;
    color: white;
    z-index: 2;
}


.text-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
}

#photogrid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 5px;
}





















/** {*/
    /*font-size: 16px;*/
    /*font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;*/
/*}*/

/*.clearfix::after {*/
    /*content: "";*/
    /*display: block;*/
    /*clear: both;*/
/*}*/

/*html,*/
/*body {*/
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-image: url("../images/gravel.png");*/
/*}*/

/*.overalldiv {*/
    /*width: 100%;*/
    /*background-color: white;*/
/*}*/

/*.topbar {*/
    /*width: 100%;*/
    /*background: white;*/
    /*margin: 20px;*/
    /*border-bottom: 2px solid #dddddd;*/

/*}*/

/*.container {*/
    /*background-size: cover;*/
    /*padding: 30px;*/
/*}*/

/*a:link,*/
/*a:active,*/
/*a:visited {*/
    /*text-decoration: none;*/
    /*color: #777777;*/
/*}*/

/*a:hover {*/
    /*text-decoration: underline;*/
    /*color: #444444;*/
/*}*/

/*ul {*/
    /*list-style-type: none;*/
/*}*/

/*#namespace {*/
    /*background: #4aaaa5;*/
    /*color: white;*/
    /*font-size: 1.5em;*/
    /*font-family: 'Georgia', Times, Times New Roman, serif;*/
    /*margin: 20px 20px 0 0;*/
    /*padding: 20px;*/
    /*text-align: left;*/
    /*width: 20%;*/
    /*float: left;*/
/*}*/

/*#navspace {*/
    /*overflow: hidden;*/
    /*float: right;*/
/*}*/

/*.nav li {*/
    /*display: inline-block;*/
    /*border-right: 1px solid #777777;*/
    /*padding: 0 10px;*/
/*}*/

/*.nav li:last-child  { border: 0; }*/

/*h1 {*/
    /*color: #4aaaa5;*/
    /*font-family: 'Georgia', Times, Times New Roman, serif;*/
    /*text-align: left;*/
    /*font-size: 1.5em;*/
/*}*/


/*.contentbox {*/
    /*width: 80%;*/
    /*margin: 60px 70px 70px;*/
    /*background: white;*/
    /*padding: 0 30px;*/
    /*line-height: 1.5;*/
/*}*/

/*.slothbaby {*/
    /*float: left;*/
    /*padding: 10px;*/
    /*height: 200px;*/
    /*width: 300px;*/
/*}*/

/*.photogrid {*/
    /*!*position: relative;*!*/
    /*left: 100px;*/
    /*top: 100px;*/
    /*background: white;*/

/*}*/

/*footer {*/
    /*display: inline;*/
    /*text-align: center;*/
    /*width: 100%;*/
    /*background: #666666;*/
    /*padding-top: 30px;*/
    /*padding-bottom: 5px;*/
    /*color: #444444;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*border-top: 7px solid #4aaaa5;*/
/*}*/

/*.portfoliopic {*/
    /*height: 200px;*/
    /*width: 200px;*/
/*}*/

/*input[type=text],*/
/*select,*/
/*textarea {*/
    /*width: 100%;*/
    /*padding: 12px;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 3px;*/
    /*box-sizing: border-box;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 15px;*/
    /*resize: vertical;*/
/*}*/

/*input[type=submit] {*/
    /*background: #4aaaa5;*/
    /*color: #ccc;*/
    /*padding: 12px 20px;*/
    /*border: none;*/
    /*border-radius: 4px;*/
/*}*/


/*.labeled-image {*/
    /*!*position: relative;*!*/
/*}*/

/*.text-block {*/
    /*!*position: absolute;*!*/
    /*background: #4aaaa5;*/
    /*color: white;*/
    /*z-index: 2;*/
/*}*/




/*nav .left {*/
    /*float: left;*/
    /*background-color: #4aaaa5;*/
    /*color: white;*/
    /*font-size: 1.5em;*/
    /*font-family: 'Georgia', Times, Times New Roman, serif;*/
    /*margin: 20px 20px 0 0;*/
    /*padding: 20px;*/
    /*text-align: left;*/
    /*width: 20%;*/
/*}*/

/*nav .right {*/
    /*float: right;*/
    /*margin-right: 200px;*/
    /*overflow: hidden;*/
/*}*/
















/*.contentbox {*/
/*margin: 0 auto;*/
/*text-align: left;*/
/*background: white;*/
/*padding: 30px;*/
/*line-height: 1.5;*/
/*}*/



/*nav {*/
/*position: absolute;*/
/*width: 100%;*/
/*background-color: white;*/
/*padding: 20px 40px 0 100px;*/
/*border-bottom: 2px solid #dddddd;*/
/*}*/


/*h1 {*/
/*font-family: 'Georgia', Times, Times New Roman, serif;*/
/*text-align: left;*/
/*font-size: 1.5em;*/
/*z-index: 2;*/
/*padding: 0 20px;*/
/*color: #4aaaa5;*/
/*}*/